<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Words About Python</title>
  <link href="css/style.css" rel="stylesheet" type="text/css"/>
</head>



<body>
  <header>
    <h1><img class="logo" src="IMG/python-logo.svg" alt="Python logo">Words About Python</h1>
  </header>
  <nav>
    <a href="index.html">Home</a>
    <a href="history.html">History</a>
    <a href="philosophy.html">Philosophy</a>
    <a href="usecases.html">Use Cases</a>
  </nav>